version: '2'

services:
  sosemivigelant.api:
    image: dekker/sosemivigelant.api
    container_name: sosemivigelant.api
    build:
      context: ./src/SoSemiVigelant
      dockerfile: Dockerfile
    depends_on:
      - sql.data

  sosemivigelant:
    image: dekker/sosemivigelant
    container_name: sosemivigelant
    build:
      context: ./src/SoSemiVigelant.FrontEnd
      dockerfile: Dockerfile
      
  sql.data:
    container_name: sql.data
    image: postgres:9.6-alpine
    volumes:
      - sql.data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: SoPostMuchGreWow!1

# Сей volume создается командой 'docker volume create --name sql.data -d local'
# Иначе не стартанет в доккере под виндой
volumes:
  sql.data:
    external: true