/* auctionItem */

.auctionItem {
    display: flex;
    font-size: 1rem;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, .1);
    transition: all .2s;
    user-select: none;
    padding: 0px 10px;
    align-items: center;
    line-height: 32px;

    &:hover {
        background-color: rgba(0, 0, 0, .1);
        cursor: pointer;
    }
}
