.auction-item {
    display: flex;
    font-size: 1rem;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, .1);
    transition: all .2s;
    user-select: none;
    padding: 0px 10px;
    align-items: center;
    line-height: 32px;

    &:hover {
        background-color: rgba(0, 0, 0, .1);
        cursor: pointer;
    }

    &__name {
        margin-right: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__current-bet {
        width: 10%;
        min-width: 70px;
        text-align: right;
    }
}
