/* ReactModal */

.ReactModal__Overlay {
    perspective: 600px;
    opacity: 0;
    z-index: 100;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transition: opacity 150ms ease-out;
}

.ReactModal__Content {
    transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
    transform: scale(1) rotateX(0deg);
    transition: all 150ms ease-in;
}

.ReactModal__Content--before-close {
    opacity: 0;
    transform: scale(0.5) rotateX(30deg);
    transition: all 150ms ease-in;
}

.modal-container{

}

.modal-header {
    position: sticky;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &__title {
        padding: 0px 10px;
        margin-right: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 20;
    }
}

.modal-body {
    padding: 0 10px;
}
