body {
    background-color: #fafafa;
    color: #757575;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
}

button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #757575;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

button:hover {
    background-color: rgba(158, 158, 158, .2);
}

button:active {
    background-color: rgba(158, 158, 158, .4);
}

button.icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    line-height: normal;
}

button .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 24px;
    vertical-align: middle;
}

input {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #757575;
    padding: .5em;
    border-radius: 2px;
    border: 1px solid lightgray;
    outline: none;
}

main {
    background: #fff;
    margin: 70px 20px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

header {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: white;
    background-color: #222;
    text-align: center;
}

header h1 {
    display: inline-block;
    color: #00d8ff;
    margin: 1rem auto;
}


/* Stats */

.stats {
    margin: 10px;
}

.stats table {
    margin: auto;
}

.stats th {
    text-align: right;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: .7em;
}

.stats td {
    text-align: left;
    font-size: 1.5rem;
    font-family: monospace;
}


/* Stopwatch */

.stopwatch {
    padding: 15px 10px 5px 10px;
}

.stopwatch-time {
    font-family: monospace;
    font-size: 2em;
}

.stopwatch-controls button {
    margin: 5px;
    color: white;
}


/* auctionItem */

.auctionItem {
    display: flex;
    font-size: 1rem;
    border-top: 1px solid rgba(0, 0, 0, .1);
    background-color: #fff;
    transition: all .2s;
    -webkit-user-select: none;
    user-select: none;
    padding: 0px 10px;
    align-items: center;
}

.auctionItem.completed * {
    color: lightgray;
}

.auctionItem.completed .auctionItem-title {
    text-decoration: line-through;
}

.auctionItem .auctionItem-title {
    margin-right: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.auctionItem .auctionItem-currentBet {
    width: 10%;
    min-width: 70px;
    text-align: right;
}

.auctionItem .checkbox {
    margin-right: .5rem;
}

.auctionItem button:not(.checkbox) {
    opacity: 0;
    transition: all .2s;
}

.auctionItem:hover button:not(.checkbox) {
    opacity: 1;
}

.auctionItem-edit-form {
    display: flex;
    font-size: 1rem;
    padding: .85em;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.auctionItem-edit-form input {
    flex: 1;
}

.auctionItem-edit-form .save {
    margin-left: .5em;
}


/* auctionItem form */

.auctionItem-form {
    display: flex;
    background-color: #FAFAFA;
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
}

.auctionItem-form input {
    flex: 1;
    outline: none;
    transition: all .2s;
}

.auctionItem-form input:focus {
    border: 1px solid #00d8ff;
}

.auctionItem-form button {
    margin-left: 10px;
}

.ReactModal__Overlay {
    perspective: 600;
    opacity: 0;
    z-index: 100;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transition: opacity 150ms ease-out;
}

.ReactModal__Content {
    transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
    transform: scale(1) rotateX(0deg);
    transition: all 150ms ease-in;
}

.ReactModal__Content--before-close {
    opacity: 0;
    transform: scale(0.5) rotateX(30deg);
    transition: all 150ms ease-in;
}

.modal-container__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
}


/* pagination */

.pagination-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.pagination {
    list-style-type: none;
    display: inline;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    padding: 0;
    margin: 10px;
}

.pagination li {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 2px 5px;
    cursor: pointer;
    min-height: 24px;
    line-height: 20px;
    min-width: 16px;
    vertical-align: middle;
    text-align: center;
}

.pagination li.current {
    color: #fff;
    background: #00d8ff;
    font-weight: bold;
}

.pagination li.break {
    cursor: default;
}

.pagination li.disabled {
    color: rgba(0, 0, 0, .1);
    cursor: default;
}

.pagination a, .material-icons {
    vertical-align: middle;
    text-align: center
}