<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <div id="root">Loading...</div>
    <script crossorigin src="https://unpkg.com/react@<%= htmlWebpackPlugin.options.versions.react %>/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@<%= htmlWebpackPlugin.options.versions['react-dom'] %>/umd/react-dom.production.min.js"></script>
</body>

</html>
