body {
    padding: 10px;
    margin: 0;
    background-color: #D2FCC1;
    color: #283F3B;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.cards-container {
    display: grid;
    grid-template-columns: auto auto 100px 100px 100px;
}

.search-container {
    width: 100%;
}

.search-input {
    width: 100%;
    border: 2px solid #4B9D0B;
    user-select: none;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 15pt;
    box-sizing: border-box;
    background-color: #D2FCC1;
    &:focus {
        border: 3px solid #4B9D0B;
        background: #B7F2CF;
    }
}