body {
    padding: 10px;
    margin: 0;
    background-color: #FFF;
    color: #283F3B;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.main-container {
    margin: auto;
    max-width: 700px;
    height: 100vh;
}

.cards-container {
    display: grid;
    grid-template-columns: auto auto 100px 100px 100px;
}

.search-container {
    width: 100%;
}

.search-input {
    width: 100%;
    border: 2px solid #4B9D0B;
    outline: none;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 15pt;
    box-sizing: border-box;
    background-color: #ccffcc;
    color: inherit;
    &:focus {
        border: 3px solid #4B9D0B;
        background: #99ff99;
    }
}